POSTGRES_DB=homelabsec
POSTGRES_USER=homelabsec
POSTGRES_PASSWORD=change-me
OLLAMA_URL=http://host.containers.internal:11434
OLLAMA_HOST_URL=http://localhost:11434
OLLAMA_MODEL=homelabsec-classifier
SCHEDULER_API_BASE=http://127.0.0.1:8088
TARGET_SUBNET=10.0.0.0/24
DISCOVERY_INTERVAL_MINUTES=30
REPORT_HOUR_UTC=8
TOP_PORTS=100
API_RETRY_ATTEMPTS=5
API_RETRY_DELAY_SECONDS=5
STARTUP_API_TIMEOUT_SECONDS=120
STARTUP_DISCOVERY=false
