# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenvs
venv/
.env

# Docker
*.log
docker-compose.override.yml

# Data / runtime
discovery/raw/
discovery/parsed/

# Secrets
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
